<%= render "shared/nav" %>
<p id="notice"><%= notice %></p>
<p>
  <strong>Latitude:</strong>
  <%= @spot.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @spot.longitude %>
</p>
<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>
<p>
  <strong>Description:</strong>
  <%= @spot.name %>
</p>
<p>
  <strong>Features:</strong>
  <%= @spot.features %>
</p>
<p>
  <strong>Comments:</strong>
  <%= @spot.comments %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
