<%= render "shared/nav" %>
<div class="profiletwo">
  <%= link_to "New Message", new_conversation_path %>
</div>

<div class="post_header">
  <h1>Your Messages</h1>
</div>
<hr />
<div class="message">
  Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) |
  All Messages (<%= current_user.mailbox.conversations.count %>) |
  Sent (<%= current_user.mailbox.sentbox.count %>) |
  Trash (<%= current_user.mailbox.trash.count %>)
</div>
<hr />
<div class="message">
  Total: (<%= @conversations.count %>)
</div>
<% @conversations.each do |conversation| %>
  <div class="message">
    <% if conversation.is_unread?(current_user) %>
      <strong><%= link_to conversation.subject, conversation_path(conversation) %></strong>
    <% else %>
      <%= link_to conversation.subject, conversation_path(conversation) %>
    <% end %>
  </div>
<%end%>
