
<%= render "shared/nav" %>
<p id="notice"><%= notice %></p>

<div class="post_header">
  <h4>Post About New Tricks, New Spots, And New Events</h4>
</div>

<div class="profiletwo">
  <%= link_to 'Add New Post', new_post_path %>
</div>

<div class="posts">

  <% @posts.each do |post| %>
    <div class="post">
      <h4><%= post.main %></h4>
      Post by: <%= post.user.username %>
    </div>
    <div class="post_buttons">
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <hr />
      <% post.post_comments.each do |comment|%>
        <div class="comment">
           <h6>Comment: <%= comment.comment %></h6>
           Comment by: <%= comment.user.username %>
        </div>
        <div class="post_buttons">
          <%= link_to 'Edit', edit_post_comment_path(comment) %>
          <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <%= render :partial => "post_comments/comment_form", :locals => {:post_id => post.id }%>
      <a class="waves-effect waves-light btn modal-trigger dude" href="#modal_add_comment_<%= post.id %>">Comment</a>
    <hr />
  <% end %>
</div>
