<!DOCTYPE html>
<html>
  <head>
    <title>ComeShred</title>
    <%= csrf_meta_tags %>
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1">  -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'skateboard.ico' %>
  </head>

  <body>
    <div class="error">
      <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>"><%= msg %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
